.mat-card {
    width: 45rem;
    margin-top: 20px;
  }
  .mat-card2 {
    width: 35rem;
  }
  
  @media (max-width:588px) {
    .mat-card2 {
     
      h4 {
        position: relative;
        margin-top: 10px;
      }
    }
    .apiInput {
      display: flex;
      flex-flow: column wrap;
      margin-top: 20px;
    }
    .cardText {
      h4 {
        position: relative;
        left: 80px;
        margin-top: -50px;
        bottom: -20px;
      }
      .liveKey {
        position: relative;
         top: 140px;
         left: -200px;
         margin-bottom: 20px;
      }
    }
  }
  .speci{
 
    .ref{
      margin-left: 10px;
    }
  }


  .title{
    margin-top: 30px;
    margin-left: 38px;
  }


  

