:host {
  background: var(--toolbar-background);
  box-sizing: border-box;
  color: var(--toolbar-color);
  display: block;
  white-space: nowrap;
  width: 100%;
  z-index: var(--toolbar-z-index);
}

.toolbar {
  height: var(--toolbar-height);
}

.mat-icon {
  color: var(--toolbar-icon-color);
}



a {
  color: var(--toolbar-color);
  text-decoration: none;
}
.disburs {
  background: #2BB996 0% 0% no-repeat padding-box;
  color: #ffffff;
  opacity: 1;
}
.apiDoc{
  background:  0% 0% no-repeat padding-box;
  color: #010d4a;
  border:  1px solid #aaabaf  !important;
  opacity: 1;
  margin-left: 10px;
}

.add-funds {
  background-color: #010d4a ;
  color: #ffffff;
  opacity: 1;
}



// responssive
// more 

.reponssivebutton{
  .respbutton{
    display: block;
    background-color: white;
  }
  button{
    margin: 10px;
  }
}

@media screen and (max-width: 768px) {
  .noresponssive{
  display: none;
  }
  .rigthside{
    margin-left: -500px;
  }
  .moreplus{
    position: relative;
     right: 50px;
   }
}

@media screen and (min-width: 768px) {
  .moreplus{
    position: relative;
     right: 50px;
   }
  .reponssivebutton{
  display: none;
  }
 
}

@media screen and (max-width: 355px) {
.moreplus{
 position: relative;
  right: 50px;
}
 
}

