:host {
  background: var(--toolbar-background);
  box-sizing: border-box;
  color: var(--toolbar-color);
  display: block;
  white-space: nowrap;
  width: 100%;
  z-index: var(--toolbar-z-index);
}

.toolbar {
  height: var(--toolbar-height);
}

.mat-icon {
  color: var(--toolbar-icon-color);
}



a {
  color: var(--toolbar-color);
  text-decoration: none;
}
.disburs {
  background: #2BB996 0% 0% no-repeat padding-box;
  color: #ffffff;
  opacity: 1;
  .arrow{
    color: white;
    position: relative;
    left: 2px;
    font-size: 20px;
  }
}
.apiDoc{
  background:  0% 0% no-repeat padding-box;
  color: #010d4a;
  border:  1px solid #aaabaf  !important;
  opacity: 1;
  margin-left: 10px;
}

.add-funds {
  background-color: #010d4a ;
  color: #ffffff;
  opacity: 1;
}
#disburse-popup{
  li{
    cursor: pointer;
    h4{
      font-size: 15px;
      font-weight: 700;
      color: #010d4a;
    }
    p{
      color: #aaabaf;
    }
  }

}
.icon{
  position: relative;
  top: 8px;
}

// responssive
// more 

.reponssivebutton{
  .respbutton{
    display: block;
    background-color: white;
  }
  button{
    margin: 10px;
  }
}

@media screen and (max-width: 768px) {
  .noresponssive{
  display: none;
  }
  .rigthside{
    margin-left: -500px;
  }
  .moreplus{
    position: relative;
     right: 50px;
   }
}

@media screen and (min-width: 768px) {
  .moreplus{
    position: relative;
     right: 50px;
   }
  .reponssivebutton{
  display: none;
  }
  .disburs2{
 display: none;
  }
 
 
}

@media screen and (max-width: 355px) {
.moreplus{
 position: relative;
  right: 50px;
}

 
}
@media screen and (max-width: 598px) {
   .profil{
    display: none;
   }
    .moreplus{
      display: none;
    }
    .reponssivebutton{
      display: block;
      }
      .disburs2{
        background: #2BB996 0% 0% no-repeat padding-box;
        color: #ffffff;
        opacity: 1;
        position: relative;
        right: 77px;
      }
  }

  @media screen and (min-width: 600px) {
    .disburs2{
      display: none;
    }

  }