<div
  class="w-full toolbar px-gutter"
  fxLayout="row"
  fxLayoutAlign="start center"
  vexContainer
>
  <button
    (click)="openSidenav()"
    [fxHide]="!mobileQuery"
    mat-icon-button
    type="button"
  >
    <mat-icon [icIcon]="icMenu"></mat-icon>
  </button>
  <a
    *ngIf="isVerticalLayout$ | async"
    [routerLink]="['/']"
    class="block ltr:mr-4 rtl:ml-4"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <img class="w-8 select-none" src="assets/img/demo/logo.svg" />
    <h1 [fxHide]="mobileQuery" class="m-0 select-none title ltr:pl-4 rtl:pr-4">
      VEX
    </h1>
  </a>


  

  <!-- for responssive -->

  <div class="p-10 reponssivebutton">
    <div class="dropdown inline-block relative">
      <button
        (click)="toggleMenu()"
        class="bg text-gray-700 font-semibold moreplus py-2 px-4 rounded inline-flex items-center"
      >
        <span class="mr-1">More +</span>
        <svg
          class="fill-current h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
          />
        </svg>
      </button>
      <ul
        class="dropdown-menu absolute text-gray-700 pt-1 respbutton"
        *ngIf="isOpen"
      >
        <div class="btn">
          <button
            class="disburs"
            mat-raised-button
            type="button"
            (click)="openDisbursePopup()"
          >
            Disburse cash
          </button>
        </div>
        <div class="btn">
          <button
            class="apiDoc"
            (click)="onViewApiPart()"
            mat-raised-button
            type="button"
          >
            API
          </button>
        </div>
      </ul>
    </div>
  </div>
  <!-- Dropdown menu -->

  <div *ngIf="isOpenDisbursePopup"     id="disburse-popup" class="z-10 w-50 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 block" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(23px, 70px);" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom">
      <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownInformationButton">
        <li     (click)="openDisbursePopup()">
          <a
            class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
          >
            <h4> <span class="icon">   <mat-icon [icIcon]="perm_identity"></mat-icon></span>  Disburse cash</h4>
            <p>Disburse cash to one recipient at the time</p>
          </a>
        </li>
        <li>
          <a [routerLink]="['/dashboards/bulk-disbursement']"
          (click)="toggleDisbursePopup()"
            class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
          >
            <h4> <span class="icon"  ><mat-icon [icIcon]="peapole"></mat-icon> </span> Bulk disbursement</h4>
            <p>Disburse cash to multiple recipient at the time</p>
          </a>
        </li>
      </ul>




      
     
  </div>
  

  



  
  

  <!-- disburse button popup -->
  <div class="grid grid-cols-2 gap-4 noresponssive">
    <div>
      <button
        class="disburs"
        mat-raised-button
        type="button"
       (click)="toggleDisbursePopup()"
      >
        Disburse <mat-icon class="arrow">{{ !isOpenDisbursePopup ? 'arrow_drop_down' : 'arrow_drop_up'}}</mat-icon>
      </button>
    </div>
    <div>
      <button
        class="apiDoc"
        (click)="onViewApiPart()"
        mat-raised-button
        type="button"
      >
        API
      </button>
    </div>
  </div>
  <div>
    <button
      class="disburs2"
      mat-raised-button
      type="button"
      (click)="openDisbursePopup()"
    >
      Disburse cash
    </button>
  </div>

  <div class="p-10"></div>
  <mat-menu
    #addNewMenu="matMenu"
    [overlapTrigger]="false"
    xPosition="after"
    yPosition="below"
  >
  </mat-menu>
  <mat-menu #documentMenu="matMenu"> </mat-menu>
  <div
    *ngIf="(isVerticalLayout$ | async) && isNavbarInToolbar$ | async"
    [fxHide]="mobileQuery"
    class="px-gutter"
    fxFlex="none"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <vex-navigation-item
      *ngFor="let item of navigationItems"
      [item]="item"
    ></vex-navigation-item>
  </div>

  <span fxFlex></span>

  <div class="flex items-center -mx-1 rigthside">
    <button
      class="add-funds"
      mat-raised-button
      type="button"
      (click)="openRechargePopup()"
    >
      Add Funds
    </button>
    <div class="px-1 profil">
      <vex-toolbar-user></vex-toolbar-user>
    </div>
  </div>
</div>
<vex-navigation
  *ngIf="(isVerticalLayout$ | async) && isNavbarBelowToolbar$ | async"
  [fxHide]="mobileQuery"
>
</vex-navigation>
<!-- disbuse ca -->
