.cardContainer {
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
}

.devise {
  background-color: #010d4a;
  color: #ffffff;
  opacity: 1;
  letter-spacing: 0px;
  font: Poppins;
}

.baance {
  color: #484848;
  opacity: 1;
  letter-spacing: 0px;
  font: Poppins;
}
.payout {
  color: #ff0045;
  opacity: 1;
  letter-spacing: 0px;
  font: Poppins;
}
.shadow-lg {
  width: 13rem;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.mat-table {
 
  box-shadow: none !important;
}