.cardContainer {
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
}

.card{
  width: 67rem;
  margin-left: 30px;
  position: relative;
  top: -50px;
}


.devise {
  background-color: #010d4a;
  color: #ffffff;
  opacity: 1;
  letter-spacing: 0px;
  font: Poppins;
}

.baance {
  color: #484848;
  opacity: 1;
  letter-spacing: 0px;
  font: Poppins;
}
.payout {
  color: #ff0045;
  opacity: 1;
  letter-spacing: 0px;
  font: Poppins;
}
.shadow-lg {
  width: 13rem;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
