<div class="cardContainer">
  <div
    class="grid grid-cols-4 gap-20 xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-4"
  >
    <div class="...">
     
      <div
        style="width: 14rem"
        class="overflow-hidden rounded currrency-box1 shadow-md"
      >
        <div class="text-xs text-center devise">XOF</div>
        <div class="px-6">
          <div>
            <h5 class="text-sm text-center balance">Balance</h5>
            <div class="flex flex-col sm:flex-row">
              <div class="sm:ml-6 top-0 right-50 flex-auto balance-type">
                <text class="cash-in1">Cash in</text>
                <h4 class="text-sm text1 amount font-bold text-center">
                  {{
                    (collectionsBalanceData?.XOF | number: "1.2-2") || "0.00"
                  }}
                </h4>
              </div>
              <div class="sm:ml-6 flex-auto">
                <text class="cash-out1">Cash Out</text>
                <h4 class="text-sm text2 font-bold text-center">
                  {{ (balanceData?.XOF | number: "1.2-2") || "0.00" }}
                </h4>
              </div>
            </div>
            <!-- <h5 class="text-sm text-center payout"></h5> -->
          </div>
        </div>
      </div>
    </div>
    <div class="...">
     
      <div
       
        class="overflow-hidden rounded currrency-box shadow-md w-60"
      >
        <div class="mb-2 text-xs text-center devise">XAF</div>
        <div class="px-6">
          <div>
            <h5 class="text-sm text-center balance">Balance</h5>
            <div class="flex flex-col sm:flex-row">
              <div class="sm:ml-6 flex-auto balance-type">
                <text class="cash-in">Cash in</text>
                <h4 class="text-sm tex1 amount font-bold text-center">
                  {{
                    (collectionsBalanceData?.XAF | number: "1.2-2") || "0.00"
                  }}
                </h4>
              </div>
              <div class="sm:ml-6 flex-auto">
                <text class="cash-out">Cash Out</text>
                <h4 class="text-sm amount2 font-bold text-center">
                  {{ (balanceData?.XAF | number: "1.2-2") || "0.00" }}
                </h4>
              </div>
            </div>
            <!-- <h5 class="text-sm text-center payout"></h5> -->
          </div>
        </div>
      </div>
    </div>
    <div class="...">
     
      <div
       
        class="overflow-hidden rounded currrency-box shadow-md w-50"
      >
        <div class="mb-2 text-xs text-center devise">GHS</div>
        <div class="px-6">
          <div>
            <h5 class="text-sm text-center balance">Balance</h5>
            <div class="flex flex-col sm:flex-row">
              <div class="sm:ml-6 flex-auto balance-type">
                <text class="cash-in">Cash in</text>
                <h4 class="text-sm tex1 amount font-bold text-center">
                  {{
                    (collectionsBalanceData?.GHS | number: "1.2-2") || "0.00"
                  }}
                </h4>
              </div>
              <div class="sm:ml-6 flex-auto">
                <text class="cash-out">Cash Out</text>
                <h4 class="text-sm amount2 font-bold text-center">
                  {{ (balanceData?.GHS | number: "1.2-2") || "0.00" }}
                </h4>
              </div>
            </div>
            <!-- <h5 class="text-sm text-center payout"></h5> -->
          </div>
        </div>
      </div>
    </div>
    <div class="...">
     
      <div
       
        class="overflow-hidden rounded currrency-box shadow-md w-50"
      >
        <div class="mb-2 text-xs text-center devise">NGN</div>
        <div class="px-6">
          <div>
            <h5 class="text-sm text-center balance">Balance</h5>
            <div class="flex flex-col sm:flex-row">
              <div class="sm:ml-6 flex-auto balance-type">
                <text class="cash-in">Cash in</text>
                <h4 class="text-sm tex1 amount font-bold text-center">
                  {{
                    (collectionsBalanceData?.NGN | number: "1.2-2") || "0.00"
                  }}
                </h4>
              </div>
              <div class="sm:ml-6 flex-auto">
                <text class="cash-out">Cash Out</text>
                <h4 class="text-sm amount2 font-bold text-center">
                  {{ (balanceData?.NGN | number: "1.2-2") || "0.00" }}
                </h4>
              </div>
            </div>
            <!-- <h5 class="text-sm text-center payout"></h5> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!dataLoaded" class="-mt-16 overflow-auto card">
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
    "
  >
    <mat-spinner color="primary"> </mat-spinner>
  </div>
</div>

<div
  *ngIf="dataLoaded"
  class="p-gutter"
  gdColumns="1fr 1fr 1fr 1fr"
  gdColumns.lt-md="1fr 1fr"
  gdColumns.lt-sm="1fr"
  gdGap="16px"
  vexContainer
>
  <vex-widget-large-goal-chart
    [series]="salesSeries"
    gdColumn="1 / -1"
    gdColumn.lt-sm="1"
    [options]="options"
    [totalAmount]="currentMonthAmount"
    [total]="currentMonthTransactions"
  ></vex-widget-large-goal-chart>
</div>
