<div class="cardContainer">
  <div class="grid grid-cols-4 gap-20 xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-4">
      <div class="...">
          <div class="overflow-hidden rounded shadow-md ">
              <div class="mb-2 text-xs text-center devise">XOF</div>
              <div class="px-6 ">
                  <div>
                      <h5 class="text-sm text-center balance">Balance</h5>
                      <h4 class="text-sm font-bold text-center">{{(balanceData?.XOF  | number : '1.2-2') || '0.00'}}</h4>
                      <!-- <h5 class="text-sm text-center payout"></h5> -->
                  </div>
              </div>
          </div>
      </div>
      <div class="...">
          <div class="overflow-hidden rounded shadow-md w-50 " >
              <div class="mb-2 text-xs text-center devise">XAF</div>
              <div class="px-6 ">
                  <div>
                      <h5 class="text-sm text-center balance">Balance</h5>
                      <h4 class="text-sm font-bold text-center">{{(balanceData?.XAF  | number : '1.2-2') || '0.00'}}</h4>
                      <!-- <h5 class="text-sm text-center payout"></h5> -->
                  </div>
              </div>
          </div>
      </div>
      <div class="...">
          <div class="overflow-hidden rounded shadow-md w-50">
              <div class="mb-2 text-xs text-center devise">GHS</div>
              <div class="px-6 ">
                  <div>
                      <h5 class="text-sm text-center balance">Balance</h5>
                      <h4 class="text-sm font-bold text-center">{{(balanceData?.GHS  | number : '1.2-2') || '0.00'}}</h4>
                      <!-- <h5 class="text-sm text-center payout"></h5> -->
                  </div>
              </div>
          </div>
      </div>
      <div class="...">
          <div class="overflow-hidden rounded shadow-md w-50">
              <div class="mb-2 text-xs text-center devise">NGN</div>
              <div class="px-6 ">
                  <div>
                      <h5 class="text-sm text-center balance">Balance</h5>
                      <h4 class="text-sm font-bold text-center">{{(balanceData?.NGN  | number : '1.2-2') || '0.00'}}</h4>
                      <h5 class="text-sm text-center payout"></h5>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div><!-- <vex-secondary-toolbar current="Dashboard"> </vex-secondary-toolbar> -->

<div *ngIf="!dataLoaded" class="-mt-16 overflow-auto card">
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
    "
  >
    <mat-spinner color="primary"> </mat-spinner>
  </div>
</div>
<div
*ngIf="dataLoaded"
  class="p-gutter"
  gdColumns="1fr 1fr 1fr 1fr"
  gdColumns.lt-md="1fr 1fr"
  gdColumns.lt-sm="1fr"
  gdGap="16px"
  vexContainer
>
  <vex-widget-large-goal-chart
    [series]="salesSeries"
    gdColumn="1 / -1"
    gdColumn.lt-sm="1"
    [options]="options"
    [totalAmount]="currentMonthAmount"
    [total]="currentMonthTransactions"
  ></vex-widget-large-goal-chart>
</div>
