.sidenav {
  color: var(--sidenav-color);
  height: 100%;
  transition: var(--trans-ease-out);
  width: var(--sidenav-width);

  &.collapsed {
    width: var(--sidenav-collapsed-width);

    &:not(.open) {
      .sidenav-toolbar {
        .title {
          opacity: 0;
          padding-inline-start: var(--sidenav-item-padding);
        }
      }

      ::ng-deep {
        .sidenav-items {
          .item-icon {
            margin-inline-end: var(--sidenav-item-padding);
          }

          .subheading,
          .item-badge,
          .item-label {
            opacity: 0;
          }
        }

        .simplebar-track.simplebar-vertical {
          visibility: hidden !important;
        }
      }
    }

    ::ng-deep {
      .subheading,
      .item-badge,
      .item-label {
        transition: all 200ms var(--trans-ease-out-timing-function);
      }
    }

    &.open {
      width: var(--sidenav-width);
    }
  }
}

.sidenav-toolbar {
  align-items: center;
  background: var(--sidenav-toolbar-background);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: var(--toolbar-height);
  padding: 0 var(--padding);
  white-space: nowrap;
  width: 100%;

  .title {
    transition: padding var(--trans-ease-out-duration)
        var(--trans-ease-out-timing-function),
      opacity var(--trans-ease-out-duration)
        var(--trans-ease-out-timing-function);
  }
}

.sidenav-items {
  padding-top: var(--padding);
}

.button {
  align-items: center;
  box-sizing: border-box;
  color: var(--sidenav-item-color);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  min-height: 48px;
  padding: var(--padding-8) var(--sidenav-item-padding);
  position: relative;
  text-decoration: none;
  transition: var(--trans-ease-out);
  user-select: none;
  width: 100%;
  border-left: var(--sidenav-item-border);
  button {
    color: #ffffff;

    &:focus {
      text-align: left;
      color: #2bb996;
      background: #ecf3ff 0% 0% no-repeat padding-box;
      border: 1px solid #888888;
      width: 170px;
      border-radius: 9px;
      font-weight: 600;
    }
  }
}
.active {
  background-color: red;
}
.speci-nav{
   cursor: pointer;
  background-color:transparent;
  height: 45px;
  &:hover{
    background-color: #000000;
  }
  span{
    color: #d6d6db;
    font-size: small;
    position: relative;
    top: 2px;
  }
}

ic-icon{
  color: #2BB996;
}


.profil{
  position: relative;
  top: 12px;
  left: 10px;
  
} 
.user-profil-info{
  position: relative;
  left: 70px;
  bottom: 40px;
}

@media screen and (min-width: 600px){
  .disburs{
    display: none;
  }
  .profil{
    display: none;
  }
}