h3.title {
    padding-left: 20px;
}
.disburs {
    background: #2BB996 0% 0% no-repeat padding-box;
    color: #ffffff;
    opacity: 1;
  }

  .card {
      padding-right: 10px;
      padding-left: 15px;
  }

  .apiDoc{
    background:  0% 0% no-repeat padding-box;
    color: #010d4a;
    border:  1px solid #aaabaf  !important;
    opacity: 1;
    margin-left: 10px;
  }