

<div #originRef (click)="showPopover(originRef)" [class.bg-hover]="dropdownOpen"
  class="relative flex items-center py-1 pl-3 pr-1 rounded cursor-pointer select-none trans-ease-out hover:bg-hover"
  matRipple>
  
  <!-- s -->
  <div class="flex items-center justify-center rounded-full h-9 w-9 text-primary bg-primary-light">
    <mat-icon *ngIf="!userBusinessData?.business_logo" [icIcon]="icPerson"></mat-icon>
    <img *ngIf="userBusinessData?.business_logo" [src]="userPhoto" />
  </div>
</div>