<!-- (ngSubmit)="save()" -->

<form [formGroup]="transferForm" (ngSubmit)="save()">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">
      {{ isCreateMode == true ? "ADD DISBURSEMENT" : "UPDATE DISBURSEMENT" }}
    </h2>

    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button"
    >
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>
  <mat-divider class="-mx-6 text-border"></mat-divider>
  <mat-dialog-content fxLayout="column" class="content-part mx-50">
    <div
      class="grid respon grid-flow-col xs:grid-cols-4 xs:grid-rows-4 sm:grid-rows-3 sm:grid-cols-2 md:grid-cols-2 md:grid-rows-3 gap-8"
    >
      <!-- <div>
        <div class="grid grid-flow-col gap-4 grid-cols grid-rows">
          <div class="label">
            <label for="">Select Country You're disbursing to</label>
          </div>
        </div>
        <mat-form-field appearance="fill">
          <mat-select
            (selectionChange)="setCurrency($event)"
            formControlName="country"
          >
            <mat-option value="BJ">BENIN</mat-option>
            <mat-option value="GH">GHANA</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
      <div>
        <div class="grid grid-flow-col gap-4 grid-cols grid-rows">
          <div class="label">
            <label for="" class="label"> Mobile wallet number</label>
          </div>
        </div>
        <mat-form-field appearance="fill">
          <input
            (ngModelChange)="onCheckConfirmNumber()"
            matInput
            formControlName="phone_no"
            #input
            type="tel"
            pattern="\d*"
            placeholder="{{ placeHolder }}"
            maxlength="{{ maxLength }}"
          />
          <mat-error>
            <span
              *ngFor="
                let error of transferForm?.get('phone_no').errors | keyvalue
              "
            >
              {{ validationMessages.phone_no[error.key] }}
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <div class="grid grid-flow-col gap-4 grid-cols grid-rows">
          <div class="label">
            <label for="" class="label">How much are you disbursing?</label>
          </div>
        </div>
        <mat-form-field appearance="outline" class="field">
          <input matInput formControlName="amount" placeholder="" />
          <mat-icon matSuffix>
            <h6>{{ currency }}</h6>
          </mat-icon>
          <mat-error>
            <span
              *ngFor="let error of transferForm?.get('amount').errors | keyvalue"
            >
              {{ validationMessages.amount[error.key] }}
            </span>
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <div class="grid grid-flow-col gap-4 grid-cols grid-rows">
          <div class="label">
            <label for="">Select the Mobile network</label>
          </div>
        </div>
        <mat-form-field appearance="fill">
          <mat-select
            (selectionChange)="setSelectedModule($event)"
            formControlName="operator"
          >
            <mat-option
              *ngFor="let provider of operators"
              [value]="provider.value"
              >{{ provider.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <div class="grid grid-flow-col gap-4 grid-cols grid-rows">
          <div class="label">
            <label for="" class="label">Repeat Mobile wallet number</label>
          </div>
        </div>
        <mat-form-field appearance="fill">
          <input
            (ngModelChange)="onCheckConfirmNumber()"
            matInput
            formControlName="repeat_phone_no"
            #input
            type="tel"
            pattern="\d*"
            placeholder="{{ placeHolder }}"
            maxlength="{{ maxLength }}"
          />
          <mat-error>
            <span
              *ngFor="
                let error of transferForm?.get('repeat_phone_no').errors
                  | keyvalue
              "
            >
              {{ validationMessages.repeat_phone_no[error.key] }}
            </span>
          </mat-error>
        </mat-form-field>
        <mat-error>
          <span class="identical" *ngIf="hasPhoneInputError">
            {{ checkPhoneErrorMessage }}
          </span>
        </mat-error>
      </div>

      <!-- <div>
        <div class="grid grid-flow-col gap-4 grid-cols grid-rows">
          <div class="label">
            <label for="" class="label">Purpose of disbursement</label>
          </div>
        </div>
        <mat-form-field appearance="fill">
          <input matInput maxlength="15" formControlName="object" #input />
        </mat-form-field>
      </div> -->
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button
      [disabled]="transferForm?.invalid || hasPhoneInputError"
      *ngIf="isCreateMode"
      color="primary"
      mat-button
      type="submit"
    >
      ADD DISBURSEMENT
    </button>
    <button
      [disabled]="transferForm?.invalid || hasPhoneInputError"
      *ngIf="isUpdateMode"
      color="primary"
      mat-button
      type="submit"
    >
      UPDATE DISBURSEMENT
    </button>
  </mat-dialog-actions>
</form>
