<div class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
    <div [@fadeInUp] class="w-full max-w-md overflow-hidden card" style="width: 50rem;height: 20rem;">
        <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
            <div class="text-center fill-current">
                <img class="w-16" src="assets\logo\logo_pal-removebg-preview.png">
            </div>
        </div>

        <div class="mt-4 text-center">
            <h2 class="m-0 title">ENTER OTP CODE</h2>
            <h4 class="m-0 body-2 text-secondary">Enter your otp for password recovery.</h4>
        </div>

        <div [formGroup]="form" class="">
            <div class="flex flex-wrap content-center ">
                <ng-otp-input [config]="{length:5}"></ng-otp-input>

            </div>
            <div class="authButton">
                <button (click)="send()" class="mt-8 " mat-raised-button type="button">
                    VERIFY
                </button>
            </div>
        </div>
    </div>

</div>