<div class="bg-pattern w-full h-full" fxLayout="column" fxLayoutAlign="center center">
    <div [@fadeInUp] class="card overflow-hidden w-full max-w-md" style="width: 50rem;height: 20rem;">
        <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
            <div class="fill-current text-center">
                <!-- <img class="w-16" src="assets/img/demo/logo.svg"> -->
            </div>
        </div>

        <div class="text-center mt-4">
            <h2 class="title m-0">ENTER OTP CODE</h2>
            <h4 class="body-2 text-secondary m-0">Enter your otp for password recovery.</h4>
        </div>

        <div [formGroup]="form" class="">
            <div class=" flex flex-wrap content-center ">
                <ng-otp-input [config]="{length:5}"></ng-otp-input>

            </div>
            <div class="authButton">
                <button (click)="send()" class="mt-8 " mat-raised-button type="button">
                    VERIFY
                </button>
            </div>
        </div>
    </div>

</div>