<div class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
    <div [@fadeInUp] class="w-full max-w-xs overflow-hidden card">
        <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
            <div class="text-center fill-current">
                <img class="w-16" src="assets\logo\logo_pal-removebg-preview.png">
            </div>
        </div>

        <div class="mt-4 text-center">
            <h2 class="m-0 title">New Password</h2>
            <h4 class="m-0 body-2 text-secondary">Enter your new password </h4>
        </div>

        <div [formGroup]="form" class="flex flex-col p-6">
            <mat-form-field fxFlex="grow">
                <mat-label>Password</mat-label>
                <input [type]="inputType" formControlName="password" matInput required>
                <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility"
                    type="button">
                    <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                    <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
                </button>
                <mat-error>
                    <span *ngFor="let error of form.get('password').errors | keyvalue">
                        {{ validationMessages.password[error.key] }}
                    </span>
                </mat-error>
                <mat-hint>Click the eye to toggle visibility</mat-hint>
            </mat-form-field>

            <mat-form-field fxFlex="grow">
                <mat-label>Password (Confirm)</mat-label>
                <input [type]="inputType" formControlName="passwordConfirm" matInput required>
                <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility"
                    type="button">
                    <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                    <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
                </button>
                <mat-error *ngIf="form.hasError('passwordsDoNotMatch')">
                    {{ validationMessages.passwordsDoNotMatch }}
                </mat-error>
                <mat-hint>Please repeat your password from above</mat-hint>
            </mat-form-field>

            <button (click)="reset()" [disabled]="isResetting || form.invalid" class="mt-2 authButton" mat-raised-button type="button">
                {{ isResetting === true ? 'Resetting...' : 'Reset Password' }}
            </button>
        </div>
    </div>
</div>