<!-- 
  page with native  version
 -->

<div class="bulk-group">
  <div class="group">
    <h3>BULK DISBURSEMENT</h3>
    <!-- <div class="element">
      <mat-icon class="exit">highlight_off</mat-icon>
    </div> -->
  </div>
</div>
<hr />

<vex-page-layout>
  <vex-page-layout-header
    class="pb-16"
    fxLayout="column"
    fxLayoutAlign="center start"
  >
    <form (ngSubmit)="disburse()" [formGroup]="form">

      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" class="card" fxFlex="auto">
          <div class="flex flex-col sm:flex-row">
            <mat-form-field class="sm:ml-6 flex-auto">
              <mat-label>Country</mat-label>

              <mat-select
                (ngModelChange)="setCurrency($event)"
                placeholder="Country"
                formControlName="country"
                required
              >
                <mat-option [country]=""> Select Country </mat-option>
                <mat-option
                  *ngFor="let country of availableCountries"
                  id="newAttributeProduct"
                  [value]="country"
                >
                  {{ country }}
                </mat-option>
              </mat-select>
              <!-- <mat-icon
              [icIcon]="icBook"
              class="mr-3"
              matPrefix
            ></mat-icon> -->
            </mat-form-field>

            <!-- <mat-form-field class="sm:ml-6 flex-auto">
              <mat-label>Currency</mat-label>

              <mat-select placeholder="Currency" formControlName="currency">
                <mat-option [value]=""> Select Currency </mat-option>
                <mat-option
                  *ngFor="let currency of currencies"
                  id="newAttributeCurrencies"
                  [value]="currency"
                >
                  {{ currency }}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
            <mat-form-field appearance="fill" class="sm:ml-6 flex-auto">
              <mat-label>Currency</mat-label>
              <input
                matInput
                formControlName="currency"
                #input
                type="text"
                placeholder="Currency"
                readonly
                disabled
              />
            </mat-form-field>

            <mat-form-field appearance="fill" class="sm:ml-6 flex-auto">
              <mat-label>Purpose</mat-label>
              <input
                matInput
                formControlName="purpose"
                #input
                type="text"
                placeholder="Purpose"
                maxlength="50"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" class="card" fxFlex="auto">
          <div class="flex file-input">
            <label
              for="dropzone-file"
              class="flex flex-col shadow-md w-32 h-10 bg-gray-50 rounded-lg -2 -dashed cursor-pointer"
            >
              <div class="flex flex-col justify-center pt-5 pb-6">
                <mat-icon>cloud_upload</mat-icon>
                <p class="mb-8 text-gray-500">
                  <span class="font-semibold">upload Exel</span>
                </p>
              </div>
              <input
                [disabled]="form.invalid"
                #disbursementFile
                (change)="addfile($event)"
                id="dropzone-file"
                type="file"
                class="hidden"
              />
             
            </label>
          </div>
          <mat-error class="no-country-error" *ngIf="form.invalid"> Please select a country before uploading a file or adding a disbursement            
          </mat-error>
  
        </div>
      </div>
    </form>

    <!-- <div
      [class.container]="layoutCtrl.value === 'boxed'"
      [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
      class="w-full flex flex-col sm:flex-row justify-between"
    > -->
    <!-- <div>
        <h1 class="title mt-0 mb-1">Transactions Report</h1>
        <vex-breadcrumbs
          [crumbs]="['Dashboards', 'reports', 'transactions']"
        ></vex-breadcrumbs>
      </div> -->

    <!-- <mat-button-toggle-group [formControl]="layoutCtrl" class="mt-4 sm:mt-0">
        <mat-button-toggle value="boxed">BOXED</mat-button-toggle>
        <mat-button-toggle value="fullwidth">FULL-WIDTH</mat-button-toggle>
      </mat-button-toggle-group> -->
    <!-- </div> -->
  </vex-page-layout-header>

  <vex-page-layout-content class="-mt-6">
    <div class="card overflow-auto -mt-16">
      <div
        class="bg-app-bar px-6 h-16 border-b sticky left-0"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <h2
          class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l"
          fxFlex="none"
          fxHide.xs
        >
          <span *ngIf="selection.isEmpty()">Disbursements List</span>
          <span *ngIf="selection.hasValue()"
            >{{ selection.selected.length }} Disbursement<span
              *ngIf="selection.selected.length > 1"
              >s</span
            >
            selected</span
          >
        </h2>

        <div
          *ngIf="selection.hasValue()"
          class="mr-4 pr-4 border-r"
          fxFlex="none"
        >
          <button
            (click)="deleteDisbursements(selection.selected)"
            color="primary"
            mat-icon-button
            matTooltip="Delete selected"
            type="button"
          >
            <mat-icon [icIcon]="icDelete"></mat-icon>
          </button>
        </div>

        <span fxFlex></span>

        <div>
          <label class="py-3 px-6" for=""
            >Total transactions: {{ totalTransactions || 0 }}</label
          >
          <label class="py-3 px-6" for=""
            >Total Amount: {{ totalAmount || 0 }}</label
          >
          <label class="py-3 px-6" for="">Name verification: {{ verificationCountMessage || 'N/A' }}</label>
        </div>

        <button
          [matMenuTriggerFor]="columnFilterMenu"
          class="ml-4"
          fxFlex="none"
          mat-icon-button
          matTooltip="Filter Columns"
          type="button"
        >
          <mat-icon [icIcon]="icFilterList"></mat-icon>
        </button>

        <button
          [disabled]="form.invalid"
          (click)="addDisbursement()"
          class="ml-4"
          color="primary"
          fxFlex="none"
          mat-mini-fab
          matTooltip="Add Disbursement"
          type="button"
        >
          <mat-icon [icIcon]="icAdd"></mat-icon>
        </button>
      </div>

      <table
        @stagger
        [dataSource]="dataSource"
        class="w-full"
        mat-table
        matSort
      >
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              color="primary"
            >
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" class="w-4" mat-cell>
            <mat-checkbox
              (change)="$event ? selection.toggle(row) : null"
              (click)="$event.stopPropagation()"
              [checked]="selection.isSelected(row)"
              color="primary"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
            <img [src]="row['imageSrc']" class="avatar h-8 w-8 align-middle" />
          </td>
        </ng-container>

        <!-- Text Columns -->
        <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
          <ng-container
            *ngIf="column.type === 'text'"
            [matColumnDef]="column.property"
          >
            <th
              *matHeaderCellDef
              class="uppercase"
              mat-header-cell
              mat-sort-header
            >
              {{ column.label }}
            </th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
              {{ row[column.property] }}
            </td>
          </ng-container>
        </ng-container>

        <!-- Contact Column -->
        <ng-container matColumnDef="contact">
          <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
          <td *matCellDef="let row" mat-cell>
            <div class="flex">
              <a
                (click)="$event.stopPropagation()"
                class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary-light"
                mat-icon-button
              >
                <mat-icon [icIcon]="icPhone" size="18px"></mat-icon>
              </a>

              <a
                (click)="$event.stopPropagation()"
                class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-teal bg-teal-light"
                mat-icon-button
              >
                <mat-icon [icIcon]="icMail" size="18px"></mat-icon>
              </a>

              <a
                (click)="$event.stopPropagation()"
                class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-green bg-green-light"
                mat-icon-button
              >
                <mat-icon [icIcon]="icMap" size="18px"></mat-icon>
              </a>
            </div>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
          <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
            <button
              (click)="$event.stopPropagation()"
              [matMenuTriggerData]="{ disbursement: row }"
              [matMenuTriggerFor]="actionsMenu"
              mat-icon-button
              type="button"
            >
              <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr
          (click)="updateDisbursement(row)"
          *matRowDef="let row; columns: visibleColumns"
          @fadeInUp
          class="hover:bg-hover trans-ease-out cursor-pointer"
          mat-row
        ></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="pageSizeOptions"
        [pageSize]="pageSize"
        class="sticky left-0"
      ></mat-paginator>
    </div>
  </vex-page-layout-content>
</vex-page-layout>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <button
    (click)="toggleColumnVisibility(column, $event)"
    *ngFor="let column of columns"
    class="checkbox-item mat-menu-item"
  >
    <mat-checkbox
      (click)="$event.stopPropagation()"
      [(ngModel)]="column.visible"
      color="primary"
      ngDefaultControl
    >
      {{ column.label }}
    </mat-checkbox>
  </button>
</mat-menu>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-disbursement="disbursement" matMenuContent>
    <!-- <button (click)="updateDisbursement(disbursement)" mat-menu-item>
      <mat-icon [icIcon]="icEdit"></mat-icon>
      <span>Modify</span>
    </button> -->
    <button (click)="deleteDisbursement(disbursement)" mat-menu-item>
      <mat-icon [icIcon]="icDelete"></mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>

<div class="overflow-x-auto table-full relative">
  <button
    type="button"
    mat-raised-button
    color="primary"
    class="btn-primary"
    (click)="disburse()"
    [disabled]="form.invalid || !disbursementData?.length"
  >
    Send cash
  </button>
</div>

<!-- page with library version 







<div class="bulk-group">
  <div class="group">
    <h3>BULK DISBURSEMENT</h3>
  <div class="element">
    <mat-icon class="exit">highlight_off</mat-icon>
  </div>
  </div>
  <hr />
</div>

<div class="flex  file-input">
  <label
    for="dropzone-file"
    class="flex flex-col shadow-md w-32 h-10 bg-gray-50 rounded-lg -2 -dashed cursor-pointer"
  >
    <div class="flex flex-col justify-center pt-5 pb-6">
      <mat-icon>cloud_upload</mat-icon>
      <p class="mb-8  text-gray-500">
        <span class="font-semibold">upload Exel</span>
      </p>
    </div>
    <input id="dropzone-file" type="file" class="hidden" />
  </label>
</div>

<form action="">
  <div class="grid   sm:grid-cols-1  md:grid-cols-6 lg:grid-cols-6  gap-2   send-cash-form">
    <div   class="marg-col"   >
      <label
        for="countries"
        class="block mb-2   text-gray-900 dark:text-gray-400"
        >Select country</label
      >
      <select
        id="countries"
        class="bg-gray-50   text-gray-900  rounded-lg    p-1"
      >
        <option selected>Choose</option>
        <option value="FR">Benin</option>
        <option value="DE">Ghana</option>
      </select>
    </div>
    <div class="marg-col" >
      <label
        for="countries"
        class="block mb-2   text-gray-900 dark:text-gray-400"
        >Select network</label
      >
      <select
        id="countries"
        class="bg-gray-50   text-gray-900  rounded-lg    p-1"
      >
        <option selected>Choose</option>
        <option value="US">mtn</option>
        <option value="CA">Canada</option>
      </select>
    </div>
    <div class="marg-col" >
      <label
        for="first_name"
        class="block mb-2   text-gray-900 dark:text-gray-300"
        >Mobile wallet number</label
      >
      <input
        type="text"
        id="first_name"
        class="bg-gray-50   text-gray-900  rounded-lg    p-1 "
        placeholder="96453423"
        required
      />
    </div>
    <div class="marg-col" >
      <label
        for="first_name"
        class="block mb-2   text-gray-900 dark:text-gray-300"
        > Repeat mobile  number</label
      >
      <input
        type="text"
        id="first_name"
        class="bg-gray-50   text-gray-900  rounded-lg    p-1 "
        placeholder="96453423"
        required
      />
    </div>
    <div  class="marg-col" >
      <label
        for="first_name"
        class="block mb-2   text-gray-900 dark:text-gray-300"
        >Amount to disburse?</label
      >
      <div class="flex">
        <input
        type="text"
        id="first_name"
        class="bg-gray-50 speci   text-gray-900     p-1 "
        placeholder="96453"
        required
      />
      <span class="inline-flex speci2 items-center border0-gray-300 px-3 text-sm text-gray-900    ">
        XOF
      </span>
      </div>
    </div>
    <div class="marg-col" >
      <label
        for="first_name"
        class="block mb-2   text-gray-900 dark:text-gray-300"
        >Reason of transaction</label
      >
      <input
        type="text"
        id="first_name"
        class="bg-gray-50   text-gray-900  rounded-lg    p-1 "
        placeholder="salary"
        required
      />
    </div >
    <button
      type="button"
      class="text-white  marg-col"
       (click)="disburse()"
    >
      Add 
    </button>
  </div>
</form>


<thead
  class="text-xs t-head text-gray-700 "
>
  <tr>
    <th scope="col" class="py-3 px-6"><label for="">Total transaction:1500</label></th>
    <th scope="col" class="py-3 px-6">  <label for="">Total Amount:8562.005 X0F</label></th>
    <th scope="col" class="py-3 px-6">  <label for="">Name verification:781/2000</label></th>
  </tr>
</thead>

<div class="overflow-x-auto table-full relative">
  <table class="w-full   text-left text-gray-500">
    <thead
      class="text-xs bg-white  w-full  text-gray-700"
    >
      <tr>
        <th scope="col" class="py-3 px-6">  <label for="">No</label></th>
        <th scope="col" class="py-3 px-6"> <label for="">Number</label></th>
        <th scope="col" class="py-3 px-6">  <label for="">Network</label></th>
        <th scope="col" class="py-3 px-6">  <label for="">Amount</label></th>
        <th scope="col" class="py-3 px-6">  <label for="">Reason of transaction</label></th>
        <th scope="col" class="py-3 px-6">  <label for="">Name</label></th>
        <th scope="col" class="py-3 px-6">  <label for=""></label></th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b ">
        <th
          scope="row"
          class="py-4 px-6 "
        >
          1
        </th>
        <td class="py-4 px-6">96932166</td>
        <td class="py-4 px-6">mtn</td>
        <td class="py-4 px-6">45</td>
        <td class="py-4 px-6">Jannuary salary</td>

        <td class="py-4 px-6">Robert nkuan</td>

        <td class="py-4 px-6"><mat-icon class="delect-icon">delete</mat-icon></td>
      </tr>
    </tbody>
  </table>
  <nav
    class="flex justify-between items-center pt-4"
    aria-label="Table navigation"
  >
    <span class=" font-normal text-gray-500 dark:text-gray-400">
      <span class="font-semibold text-gray-900 dark:text-white"></span>
      <span class="font-semibold text-gray-900 dark:text-white"></span
    ></span>
    <ul class="inline-flex items-center -space-x-px">
      <li>
        <a
          href="#"
          class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg   hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          <span class="sr-only">Previous</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="py-2 px-3 leading-tight text-gray-500 bg-white   hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >1</a
        >
      </li>
      <li>
        <a
          href="#"
          class="py-2 px-3 leading-tight text-gray-500 bg-white   hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >2</a
        >
      </li>
      <li>
        <a
          href="#"
          aria-current="page"
          class="z-10 py-2 px-3 leading-tight text-blue-600 bg-blue-50  -blue-300 hover:bg-blue-100 hover:text-blue-700 dark:-gray-700 dark:bg-gray-700 dark:text-white"
          >3</a
        >
      </li>
      <li>
        <a
          href="#"
          class="py-2 px-3 leading-tight text-gray-500 bg-white   hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >...</a
        >
      </li>
      <li>
        <a
          href="#"
          class="py-2 px-3 leading-tight text-gray-500 bg-white   hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >100</a
        >
      </li>
      <li>
        <a
          href="#"
          class="block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg   hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          <span class="sr-only">Next</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
  <button
  type="button"
  class="text-white "
>
  Send cash 
</button>
</div> -->
