<div class="cardContainer">
    <div class="grid grid-cols-4 gap-20">
        <div class="...">
            <div class=" rounded overflow-hidden shadow-md">
                <div class="text-xs text-center mb-2 devise">XOF</div>
                <div class="px-6 ">
                    <div>
                        <h5 class="text-center text-sm balance">Balance</h5>
                        <h4 class="text-center font-bold text-sm">15,500.00</h4>
                        <h5 class="text-center text-sm payout">Payout: 15,500.00</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="...">
            <div class="w-50 rounded overflow-hidden shadow-md">
                <div class="text-xs text-center mb-2 devise">XAF</div>
                <div class="px-6 ">
                    <div>
                        <h5 class="text-center text-sm balance">Balance</h5>
                        <h4 class="text-center font-bold text-sm">15,500.00</h4>
                        <h5 class="text-center text-sm payout">Payout: 15,500.00</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="...">
            <div class="w-50 rounded overflow-hidden shadow-md">
                <div class="text-xs text-center mb-2 devise">GHC</div>
                <div class="px-6 ">
                    <div>
                        <h5 class="text-center text-sm balance">Balance</h5>
                        <h4 class="text-center font-bold text-sm">15,500.00</h4>
                        <h5 class="text-center text-sm payout">Payout: 15,500.00</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="...">
            <div class="w-50 rounded overflow-hidden shadow-md">
                <div class="text-xs text-center mb-2 devise">Naira</div>
                <div class="px-6 ">
                    <div>
                        <h5 class="text-center text-sm balance">Balance</h5>
                        <h4 class="text-center font-bold text-sm">15,500.00</h4>
                        <h5 class="text-center text-sm payout">Payout: 15,500.00</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>