<div class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
  <div class="w-full max-w-xs overflow-hidden card">
      <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
          <div class="text-center fill-current">
            <img class="w-16" src="assets\logo\logo_pal-removebg-preview.png">
          </div>
      </div>

      <div class="mt-4 text-center">
        <h2 class="m-0 title">SIGN UP</h2>
          
      </div>

      <div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
          <div fxFlex="auto" fxLayout="column">
              <mat-form-field fxFlex="grow">
                  <mat-label>Frist Name </mat-label>
                  <input formControlName="firstName" matInput required>
                  <mat-error>
                      <span *ngFor="let error of form.get('firstName').errors | keyvalue">
                          {{ validationMessages.firstName[error.key] }}
                      </span>
                  </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="grow">
                <mat-label>Last Name </mat-label>
                <input formControlName="lastName" matInput required>
                <mat-error>
                    <span *ngFor="let error of form.get('lastName').errors | keyvalue">
                        {{ validationMessages.lastName[error.key] }}
                    </span>
                </mat-error>
            </mat-form-field>

              <mat-form-field fxFlex="grow">
                  <mat-label>Email address</mat-label>
                  <input formControlName="email" matInput required>
                  <mat-error>
                      <span *ngFor="let error of form.get('email').errors | keyvalue">
                          {{ validationMessages.email[error.key] }}
                      </span>
                  </mat-error>
              </mat-form-field>


              <mat-form-field fxFlex="grow">
                  <mat-label>Password</mat-label>
                  <input [type]="inputType" formControlName="password" matInput required>
                  <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility"
                      type="button">
                      <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                      <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
                  </button>
                  <mat-error>
                      <span *ngFor="let error of form.get('password').errors | keyvalue">
                          {{ validationMessages.password[error.key] }}
                      </span>
                  </mat-error>
                  <mat-hint>Click the eye to toggle visibility</mat-hint>
              </mat-form-field>

              <mat-form-field fxFlex="grow">
                  <mat-label>Password (Confirm)</mat-label>
                  <input [type]="inputType" formControlName="passwordConfirm" matInput required>
                  <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility"
                      type="button">
                      <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                      <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
                  </button>
                  <mat-error *ngIf="form.hasError('passwordsDoNotMatch')">
                      {{ validationMessages.passwordsDoNotMatch }}
                  </mat-error>
                  <mat-hint>Please repeat your password from above</mat-hint>
              </mat-form-field>
          </div>
          <button (click)="register()" [disabled]="form.invalid" class="authButton" mat-raised-button type="button">
            CREATE ACCOUNT          </button>
          <p class="text-center text-secondary">
              Already have an account?<br />
              <a [routerLink]="['/auth/login']">Sign in here</a>
          </p>
      </div>
  </div>
</div>
