.authButton{
    background-color: rgb(1, 164, 121);
    color: white;
}

.createAccount{
    background-color: rgb(1, 164, 121);
}
.bg-pattern{
    background-color: #E8F8F3;
}

.fill-current{
    img{
        width:120px;
        height: 65px;
    }
}