form {
  .headline {
    font: normal normal 600 4px/26px Segoe UI;
    font-size: medium;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .content-part {
    margin-top: 10px;
    .label {
      margin-bottom: 10px;
    }
    label {
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
      font: Segoe UI;
      font-weight: 200;
    }
    h6 {
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
      font: normal normal normal 15px/20px Segoe UI;
      position: relative;
      top: -5px;
    }
  }
  .button {
    .send-button {
      font: Segoe UI;
      font-weight: bold;
      letter-spacing: 0px;
      color: #2bb996;
      opacity: 1;
    }
  }
}

.how-much {
  margin-top: 22px;
}

.identical {
  font-size: 11px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  mat-form-field {
   min-width: 500%;
  }

  .field{
    min-width: 90%;
  }

  .icon {
    font-size: small;
  }
  .respon {
    .label {
      min-width: 20rem;
    }
  }

  .button {
    h6 {
      font-size: small;
    }
    .fiel-requierd{
      display:none;
    }

    
    .send-button{
    
      position: relative;
      right: 2rem;
      color: white;
      min-width: 100%;
    }
    
  }
}
