<!-- (ngSubmit)="save()" -->

<form [formGroup]="transferForm">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="m-0 headline" fxFlex="auto">DISBURSE CASH</h2>
    <!-- <button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
        <mat-icon [icIcon]="icMoreVert"></mat-icon>
      </button> -->
    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button"
    >
      <mat-icon class="icon" [icIcon]="icClose"></mat-icon>
    </button>
  </div>
  <mat-divider class="-mx-6 text-border"></mat-divider>
  <mat-dialog-content fxLayout="column" class="content-part mx-50">
    <div
      class="grid respon grid-flow-col xs:grid-cols-4 xs:grid-rows-4 sm:grid-rows-2 sm:grid-cols-2 md:grid-cols-2 md:grid-rows-2 gap-8"
    >
      <div>
        <div class="grid grid-flow-col gap-4 grid-cols grid-rows">
          <div class="label">
            <label for="">Select Country You're disbursing to</label>
          </div>
        </div>
        <mat-form-field appearance="fill">
          <!-- <mat-label>Select Country You're disbursing to</mat-label> -->
          <mat-select
            (selectionChange)="setCurrency($event)"
            formControlName="country"
          >
            <!-- <mat-option value="GH">GHANA</mat-option> -->
            <mat-option value="BJ">BENIN</mat-option>
            <mat-option value="GH">GHANA</mat-option>
            <!-- <mat-option value="SN">SENEGAL</mat-option> -->
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <div class="grid grid-flow-col gap-4 grid-cols grid-rows">
          <div class="label">
            <label for="" class="label"> Mobile wallet number</label>
          </div>
        </div>
        <mat-form-field appearance="fill">
          <input
            (ngModelChange)="onCheckConfirmNumber()"
            matInput
            formControlName="phone_no"
            #input
            placeholder="{{ placeHolder }}"
            maxlength="{{ maxLength }}"
          />
          <mat-error>
            <span
              *ngFor="
                let error of transferForm.get('phone_no').errors | keyvalue
              "
            >
              {{ validationMessages.phone_no[error.key] }}
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <div class="grid grid-flow-col gap-4 grid-cols grid-rows">
          <div class="label">
            <label for="">Select the Mobile network</label>
          </div>
        </div>
        <mat-form-field appearance="fill">
          <!-- <mat-label>Select me</mat-label> -->
          <mat-select formControlName="provider">
            <!-- <mat-option value="orange">Orange</mat-option> -->
            <mat-option value="mtn">MTN</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <div class="grid grid-flow-col gap-4 grid-cols grid-rows">
          <div class="label">
            <label for="" class="label">Repeat Mobile wallet number</label>
          </div>
        </div>
        <mat-form-field appearance="fill">
          <input
            (ngModelChange)="onCheckConfirmNumber()"
            matInput
            formControlName="repeat_phone_no"
            #input
            placeholder="{{ placeHolder }}"
            maxlength="{{ maxLength }}"
          />
          <mat-error>
            <span
              *ngFor="
                let error of transferForm.get('repeat_phone_no').errors
                  | keyvalue
              "
            >
              {{ validationMessages.repeat_phone_no[error.key] }}
            </span>
          </mat-error>
        </mat-form-field>
        <mat-error>
          <span class="identical" *ngIf="hasPhoneInputError">
            {{ checkPhoneErrorMessage }}
          </span>
        </mat-error>
      </div>
    </div>
    <div>
      <div class="how-much grid grid-flow-col gap-4 grid-cols grid-rows">
        <div class="label">
          <label for="" class="label">How much are you disbursing?</label>
        </div>
      </div>
      <mat-form-field appearance="outline" class="field">
        <!-- <mat-label>Outline form field</mat-label> -->
        <input matInput formControlName="amount" placeholder="" />
        <mat-icon matSuffix>
          <h6>{{ currency }}</h6>
        </mat-icon>
        <mat-error>
          <span
            *ngFor="let error of transferForm.get('amount').errors | keyvalue"
          >
            {{ validationMessages.amount[error.key] }}
          </span>
        </mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="button">
    <!-- <mat-error  align="start" *ngIf="hasError || transferForm.invalid" class="fiel-requierd">
      <h6> {{ errorMessage || "All * fields are required" }}</h6>
    </mat-error> -->
    <button
      color="primary"
      mat-button
      type="button"
      [disabled]="transferForm.invalid || hasPhoneInputError"
      class="send-button"
      (click)="confirmTransfers()"
    >
      confirm
    </button>
  </mat-dialog-actions>
</form>
